/* common **********/


html,
body {
  height: 100%;
}
.header{
  display: flex;
  padding: 10px;
  border-bottom: 1px solid rgb(184, 183, 183);
}
.header img{
  width: 60px;
}
.header h3{
  padding-left: 15px;
  color: rgb(29, 161, 242);
}
/*
Post
**********************/
.post_form {
  padding: 20px 40px;
  border-bottom: 1px solid #ccc;
}
.post_form input {
  width: 70%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}
.post_form textarea {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
}
#uploadimage {
  border: hidden;
  width: 50%;
  padding-top: 20px;
}
#Tweet {
  width: 20%;
  background-color: rgb(29, 161, 242);
  color: white;
  border-radius: 10px;
}
a#cancel {
  text-decoration: none;
  border: 1px solid;
  padding: 9px;
  background-color: gray;
  color: white;
  border-radius: 10px;
}
.content {
  max-width: 600px;
  margin: 0 auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.banner {
  margin-left: 40%;
}


.posts ul {
  padding: 0;
}



.posts li {
  position: relative;
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 20px 40px;
  list-style: none; 
}
img.menu_icon.js-menu-icon{
  width: 20px;
}
.posts li .menu_icon{
  /* width: 20%; */
  position: absolute;
  right: 30px;
  top: 18px;
}
.posts li .menu{
  display: none;
  position: absolute;
  top: 40px;
  right: 15px;
  border: 1px solid #ccc;
  background-color: #ccc;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 3px;
}
.posts li .menu a{
  text-decoration: none;
}
.posts li .logo {
  flex-basis: 15%;
}

.posts li .logo img {
  width: 60% ;
}

.posts li .name_body {
  flex-basis: 85%;
}

.posts li .name_body .name {
  font-weight: bold;
}

.posts li .name_body .datetime {
  color: gray;
}
@media screen and (max-width: 500px) {
  .posts li .name_body .name {
      font-size: 20px;
  }
}