{% extends "base.html" %} {% block content %} {% load static %} 
<section class="content">
  <div class="header">
    <img src="{%static 'img/twitter-sign.png' %}" alt="">
    <h3>Edit</h3>
  </div>
    <section class="post_form">
        <form action="/edit/{{posts.id}}/" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" name="name" placeholder="name" value="{{posts.name}}">
            <input name="body" placeholder="what's happening?" value="{{posts.body}}" required></input>
            <input type="file" name="image" id="uploadimage">
            {% if posts.image.url %}

            <img src="{{posts.image.url}}" style="width: 250px; height: 200px;" alt="">
            {% endif %}
            <div class="banner">
                <a href="{% url 'index' %}" id="cancel" type="submit">Cancel</a>
             <input type="submit" value="Tweet" id="Tweet">
            </div>

            

        </form>
    </section>
    {% endblock %}